@{
	Layout = "_Layout";
}
<div class="container" style="background-color: lightgrey">
	<div class="row">
		<span style="font-size: 24px;font-family:sans-serif">Çalışanlar</span>
		<table class="" id="myTable">
			<thead>
			<th>Hi</th>
			<th>hello</th>
			</thead>
			<tbody>
			<td>heeello</td>
			<td>hi</td>
			</tbody>
		</table>
	</div>	
</div>